<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10"
               [opened]="!isScreenSmall()"
               [mode]="isScreenSmall() ? 'over' : 'side'">
    <mat-toolbar color="primary">
      IpLi
    </mat-toolbar>
    <mat-list>
      <a mat-list-item routerLink="/playlists" routerLinkActive="active">Playlists</a>
      <a mat-list-item routerLink="/channels" routerLinkActive="active">Channels</a>
      <a mat-list-item routerLink="/sources" routerLinkActive="active">Sources</a>
    </mat-list>
  </mat-sidenav>

  <div class="app-sidenav-content">
    <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-sidenav-container>
